@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Visit Here <a href="hhttps://github.com/NareshPoudel1">For CRUDapp code in github</a>.</p>
</div>
